{% extends 'base.html.twig' %}

{% block title %} Invitado:{{ invitado.nombre }} {% endblock %}

{% block body %}
    <h1>{{ invitado.nombre }}</h1>
    <h2>Evento: {{ invitado.evento }}</h2>
{% endblock %}