{% extends 'base.html.twig' %}

{% block title %} Lugar:{{ lugar.nombre }} {% endblock %}

{% block body %}
    <h1>{{ lugar.nombre }}</h1>
    <h2>Dirección: {{ lugar.direccion }}</h2>
{% endblock %}